
body {
  
}

/*************** TOP BAR ******************/

.bar-icon {
  padding: 0;
  margin: 0;
  border-right: 1px solid #666;
  float: left;
}

.bar-icon > a {
  border-right: 1px solid #000;
  padding: 0px;
  text-align: center;
  display: block;
}

.wide {
  width: 100px;
}

.bar-icon img.small {
  margin: 6px;
}

.navbar {
  border-bottom: 3px solid #89CC60;
}

.navbar a {
  line-height: 0;
}

#bar-logo {
  float: right;
  margin-right: 20px;
  padding: 0px;
}

#inner-top-bar {
  opacity: 0.95;
  -moz-opacity: 0.95;
  filter:alpha(opacity=95);
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(#353F5E),
    to(#000011)
  );
  background: -webkit-linear-gradient(
    top,
    #353F5E,
    #000011;
  );
  background: -moz-linear-gradient(
    top,
    #353F5E,
    #000011
  );
  background: -o-linear-gradient(
    top,
    #353F5E,
    #000011
  );
  background: linear-gradient(
    top,
    #353F5E,
    #000011
  );
}

#inner-top-bar .container-fluid {
  padding: 0px;
}

/*************** TOP BAR ******************/

#version-info {
  color: #89CC60;
}