<!DOCTYPE html>
<html>
  <head>
	<title>Readium</title>
	<link rel="stylesheet" type="text/css" href="/lib/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/extractBook.css" />

	<script src="/lib/jquery-1.7.1.min.js" type="text/javascript" ></script>
	<script src="/lib/ZipFile.complete.js" type="text/javascript" ></script>
	<script src="/lib/lawnchair-0.6.1.min.js" type="text/javascript" ></script>
	<script src="/lib/md5.js" type="text/javascript" ></script>
	<script src="/lib/URI.js" type="text/javascript" ></script>
	<script src="/scripts/models/packageDocument.js" type="text/javascript" ></script>
	<script src="/scripts/models/path_resolver.js" type="text/javascript" ></script>
	<script src="/scripts/fileSystemApi.js" type="text/javascript" ></script>
	<script src="/scripts/extractBook.js" type="text/javascript" ></script>
	<script src="/debug/helpers.js" type="text/javascript" ></script>
	
	<script type="text/javascript">
		window.onload = function() {
			var url = window.location.hash.substring(1);
	
			// sanity check (only have to be a little sane)
			if(url.length <= 0) {
				displayMessage("The book url does not apear valid");
				return;
			}
	
			Readium.ExtractBook(url, function() {}, function(message) {
				$('#loading-status').html( message );
				console.log(message);
			});

			displayMessage("Fetching resource from: " + url);
		};
	</script>


  </head>
  <body>
	<div id="loading-message" >
    	<h1>Loading Book</h1>
		<img src="/images/ajax-loader.gif" alt="processing..." height="42" width="42" />
		
		<div id="loading-status"></div>
	</div>
  </body>
</html>